GameLand/Connected Services/GameLandWebServiceRef/GameService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://gameland.com/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://gameland.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://gameland.com/">
      <s:element name="Hello">
        <s:complexType />
      </s:element>
      <s:element name="HelloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateCharge">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="hours" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateChargeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalculateChargeResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ic" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloSoapIn">
    <wsdl:part name="parameters" element="tns:Hello" />
  </wsdl:message>
  <wsdl:message name="HelloSoapOut">
    <wsdl:part name="parameters" element="tns:HelloResponse" />
  </wsdl:message>
  <wsdl:message name="CalculateChargeSoapIn">
    <wsdl:part name="parameters" element="tns:CalculateCharge" />
  </wsdl:message>
  <wsdl:message name="CalculateChargeSoapOut">
    <wsdl:part name="parameters" element="tns:CalculateChargeResponse" />
  </wsdl:message>
  <wsdl:message name="LoginUserSoapIn">
    <wsdl:part name="parameters" element="tns:LoginUser" />
  </wsdl:message>
  <wsdl:message name="LoginUserSoapOut">
    <wsdl:part name="parameters" element="tns:LoginUserResponse" />
  </wsdl:message>
  <wsdl:portType name="GameServiceSoap">
    <wsdl:operation name="Hello">
      <wsdl:input message="tns:HelloSoapIn" />
      <wsdl:output message="tns:HelloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalculateCharge">
      <wsdl:input message="tns:CalculateChargeSoapIn" />
      <wsdl:output message="tns:CalculateChargeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <wsdl:input message="tns:LoginUserSoapIn" />
      <wsdl:output message="tns:LoginUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GameServiceSoap" type="tns:GameServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Hello">
      <soap:operation soapAction="http://gameland.com/Hello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateCharge">
      <soap:operation soapAction="http://gameland.com/CalculateCharge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <soap:operation soapAction="http://gameland.com/LoginUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GameServiceSoap12" type="tns:GameServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Hello">
      <soap12:operation soapAction="http://gameland.com/Hello" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateCharge">
      <soap12:operation soapAction="http://gameland.com/CalculateCharge" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <soap12:operation soapAction="http://gameland.com/LoginUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameService">
    <wsdl:port name="GameServiceSoap" binding="tns:GameServiceSoap">
      <soap:address location="https://localhost:44378/GameService.asmx" />
    </wsdl:port>
    <wsdl:port name="GameServiceSoap12" binding="tns:GameServiceSoap12">
      <soap12:address location="https://localhost:44378/GameService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>