GameLand/Connected Services/GameLandWebServiceRef/GameService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://gameland.com/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://gameland.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://gameland.com/">
      <s:element name="RegisterUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ic" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ic" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdminLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="staffID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdminLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AdminLoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculatePenalty">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="borrowDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="returnDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculatePenaltyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalculatePenaltyResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BorrowItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userIC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="itemId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BorrowItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BorrowItemResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckConnectionString">
        <s:complexType />
      </s:element>
      <s:element name="CheckConnectionStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckConnectionStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="double" type="s:double" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegisterUserSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="RegisterUserSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="LoginUserSoapIn">
    <wsdl:part name="parameters" element="tns:LoginUser" />
  </wsdl:message>
  <wsdl:message name="LoginUserSoapOut">
    <wsdl:part name="parameters" element="tns:LoginUserResponse" />
  </wsdl:message>
  <wsdl:message name="AdminLoginSoapIn">
    <wsdl:part name="parameters" element="tns:AdminLogin" />
  </wsdl:message>
  <wsdl:message name="AdminLoginSoapOut">
    <wsdl:part name="parameters" element="tns:AdminLoginResponse" />
  </wsdl:message>
  <wsdl:message name="CalculatePenaltySoapIn">
    <wsdl:part name="parameters" element="tns:CalculatePenalty" />
  </wsdl:message>
  <wsdl:message name="CalculatePenaltySoapOut">
    <wsdl:part name="parameters" element="tns:CalculatePenaltyResponse" />
  </wsdl:message>
  <wsdl:message name="BorrowItemSoapIn">
    <wsdl:part name="parameters" element="tns:BorrowItem" />
  </wsdl:message>
  <wsdl:message name="BorrowItemSoapOut">
    <wsdl:part name="parameters" element="tns:BorrowItemResponse" />
  </wsdl:message>
  <wsdl:message name="CheckConnectionStringSoapIn">
    <wsdl:part name="parameters" element="tns:CheckConnectionString" />
  </wsdl:message>
  <wsdl:message name="CheckConnectionStringSoapOut">
    <wsdl:part name="parameters" element="tns:CheckConnectionStringResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterUserHttpGetIn">
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="ic" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RegisterUserHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LoginUserHttpGetIn">
    <wsdl:part name="ic" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginUserHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AdminLoginHttpGetIn">
    <wsdl:part name="staffID" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AdminLoginHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CalculatePenaltyHttpGetIn">
    <wsdl:part name="borrowDate" type="s:string" />
    <wsdl:part name="returnDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CalculatePenaltyHttpGetOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:message name="BorrowItemHttpGetIn">
    <wsdl:part name="userIC" type="s:string" />
    <wsdl:part name="itemId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BorrowItemHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CheckConnectionStringHttpGetIn" />
  <wsdl:message name="CheckConnectionStringHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RegisterUserHttpPostIn">
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="ic" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RegisterUserHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LoginUserHttpPostIn">
    <wsdl:part name="ic" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginUserHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AdminLoginHttpPostIn">
    <wsdl:part name="staffID" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AdminLoginHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CalculatePenaltyHttpPostIn">
    <wsdl:part name="borrowDate" type="s:string" />
    <wsdl:part name="returnDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CalculatePenaltyHttpPostOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:message name="BorrowItemHttpPostIn">
    <wsdl:part name="userIC" type="s:string" />
    <wsdl:part name="itemId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BorrowItemHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CheckConnectionStringHttpPostIn" />
  <wsdl:message name="CheckConnectionStringHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="GameServiceSoap">
    <wsdl:operation name="RegisterUser">
      <wsdl:input message="tns:RegisterUserSoapIn" />
      <wsdl:output message="tns:RegisterUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <wsdl:input message="tns:LoginUserSoapIn" />
      <wsdl:output message="tns:LoginUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AdminLogin">
      <wsdl:input message="tns:AdminLoginSoapIn" />
      <wsdl:output message="tns:AdminLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalculatePenalty">
      <wsdl:input message="tns:CalculatePenaltySoapIn" />
      <wsdl:output message="tns:CalculatePenaltySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BorrowItem">
      <wsdl:input message="tns:BorrowItemSoapIn" />
      <wsdl:output message="tns:BorrowItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckConnectionString">
      <wsdl:input message="tns:CheckConnectionStringSoapIn" />
      <wsdl:output message="tns:CheckConnectionStringSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GameServiceHttpGet">
    <wsdl:operation name="RegisterUser">
      <wsdl:input message="tns:RegisterUserHttpGetIn" />
      <wsdl:output message="tns:RegisterUserHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <wsdl:input message="tns:LoginUserHttpGetIn" />
      <wsdl:output message="tns:LoginUserHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AdminLogin">
      <wsdl:input message="tns:AdminLoginHttpGetIn" />
      <wsdl:output message="tns:AdminLoginHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CalculatePenalty">
      <wsdl:input message="tns:CalculatePenaltyHttpGetIn" />
      <wsdl:output message="tns:CalculatePenaltyHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="BorrowItem">
      <wsdl:input message="tns:BorrowItemHttpGetIn" />
      <wsdl:output message="tns:BorrowItemHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckConnectionString">
      <wsdl:input message="tns:CheckConnectionStringHttpGetIn" />
      <wsdl:output message="tns:CheckConnectionStringHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GameServiceHttpPost">
    <wsdl:operation name="RegisterUser">
      <wsdl:input message="tns:RegisterUserHttpPostIn" />
      <wsdl:output message="tns:RegisterUserHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <wsdl:input message="tns:LoginUserHttpPostIn" />
      <wsdl:output message="tns:LoginUserHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AdminLogin">
      <wsdl:input message="tns:AdminLoginHttpPostIn" />
      <wsdl:output message="tns:AdminLoginHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CalculatePenalty">
      <wsdl:input message="tns:CalculatePenaltyHttpPostIn" />
      <wsdl:output message="tns:CalculatePenaltyHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="BorrowItem">
      <wsdl:input message="tns:BorrowItemHttpPostIn" />
      <wsdl:output message="tns:BorrowItemHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckConnectionString">
      <wsdl:input message="tns:CheckConnectionStringHttpPostIn" />
      <wsdl:output message="tns:CheckConnectionStringHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GameServiceSoap" type="tns:GameServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://gameland.com/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <soap:operation soapAction="http://gameland.com/LoginUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminLogin">
      <soap:operation soapAction="http://gameland.com/AdminLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculatePenalty">
      <soap:operation soapAction="http://gameland.com/CalculatePenalty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BorrowItem">
      <soap:operation soapAction="http://gameland.com/BorrowItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckConnectionString">
      <soap:operation soapAction="http://gameland.com/CheckConnectionString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GameServiceSoap12" type="tns:GameServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterUser">
      <soap12:operation soapAction="http://gameland.com/RegisterUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <soap12:operation soapAction="http://gameland.com/LoginUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminLogin">
      <soap12:operation soapAction="http://gameland.com/AdminLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculatePenalty">
      <soap12:operation soapAction="http://gameland.com/CalculatePenalty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BorrowItem">
      <soap12:operation soapAction="http://gameland.com/BorrowItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckConnectionString">
      <soap12:operation soapAction="http://gameland.com/CheckConnectionString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GameServiceHttpGet" type="tns:GameServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="RegisterUser">
      <http:operation location="/RegisterUser" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <http:operation location="/LoginUser" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminLogin">
      <http:operation location="/AdminLogin" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculatePenalty">
      <http:operation location="/CalculatePenalty" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BorrowItem">
      <http:operation location="/BorrowItem" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckConnectionString">
      <http:operation location="/CheckConnectionString" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GameServiceHttpPost" type="tns:GameServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="RegisterUser">
      <http:operation location="/RegisterUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <http:operation location="/LoginUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminLogin">
      <http:operation location="/AdminLogin" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculatePenalty">
      <http:operation location="/CalculatePenalty" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BorrowItem">
      <http:operation location="/BorrowItem" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckConnectionString">
      <http:operation location="/CheckConnectionString" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameService">
    <wsdl:port name="GameServiceSoap" binding="tns:GameServiceSoap">
      <soap:address location="https://localhost:44378/GameService.asmx" />
    </wsdl:port>
    <wsdl:port name="GameServiceSoap12" binding="tns:GameServiceSoap12">
      <soap12:address location="https://localhost:44378/GameService.asmx" />
    </wsdl:port>
    <wsdl:port name="GameServiceHttpGet" binding="tns:GameServiceHttpGet">
      <http:address location="https://localhost:44378/GameService.asmx" />
    </wsdl:port>
    <wsdl:port name="GameServiceHttpPost" binding="tns:GameServiceHttpPost">
      <http:address location="https://localhost:44378/GameService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>